* {
    margin: 0px;
    padding: 0px;
}
nav {
    padding: 5px;
}
nav a {
    text-decoration: none;
    font-size: 150%;
    margin-left: 25px;
    padding: 5px;
    color: rgb(69, 18, 235);
}
header {
    background-color: rgb(52, 191, 184);
    height: 5vh;
}
#div1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: green;
    position: relative;
    left : 40vh ;
}
.box {
    height: 100px;
    width: 100px;
    background-color: gold;
    margin: 10px;
    display: inline-block;
}
#container {
    border: 10px dotted maroon;
    margin: 10px;
}
#box4 {
    position: fixed;
    right: 10px;
}
#box2 {
    z-index: 2;
}
footer {
    position: fixed;
    bottom: 5px;
    background-color: darkseagreen;
}